@charset "UTF-8";
/* CSS Document */
.specialText{
    color: #48cae4;
}
.anotherSpecialText{
    color: #a5a58d;
}
.body{
    margin: 25px;
}
.progressionBar{
    background-color: #0096c7;
    height: 10px;
}
.disProgressionBar{
    background-color: #a5a58d;
    height: 10px;
}
.lien {
    text-decoration: none;
    color: #48cae4;
    font-weight: bold;
}
.lien:hover{
    color: #0096c7;
    font-weight: 900;
}
.mainColumn{
    width: 70%;
    float: left;
    margin-right: 50px;
}
.asideColumn{
    width: 26%;
    float: left;
    border-left: #a5a58d dashed 1px;
    padding-left: 20px;
}
img{
    border-radius: 55px;
}
.footer{
    height: 100px;
    background-color: #a5a58d;
    clear: both;
    padding: 10px;
}
.sender{
    color: #0096c7;
    font-weight: bold;
}
.time{
    color: #a5a58d;
    font-size: 10pt;
}
.info{
    color: #48cae4;
}